.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.about-container {
  border: none;
}

.portfolio-pic {
  width: 200px;
  height: auto;
  border-radius: 100%;
}
.about-header {
  border: none;
}

@media screen and (min-width: 670px) {
  .about-div {
    display: flex;
    align-items: center;
  }

  .about-container {
    display: flex;
    border: none;
    width: 50%;
    margin: 10px;
  }

  .about-header {
    border: none;
  }

  .about-body {
    text-align: center;
    font-size: 15px;
  }
}